@use "../../../_theme.scss";

.social {
  padding-left: calc(theme.$spaceL * 2);
  display: flex;
  justify-content: end;
}
.social > a:not(:first-of-type) {
  margin-left: theme.$spaceL;
}

.social > a:hover {
  cursor: pointer;
}
