$backgroundColor: #ffffff;
$backgroundColorAleternative: #f8f8f8;

$letterColor: #454545;
$letterColorAlternative: #6b7280;
$placeholderColor: #717171;

$borderColor: #d3d3d3;

$redColor: #de3151;
$goldColor: #efb810;
$silverColor: #bebebe;
$bronzeColor: #ce8946;

$spaceXS: 5px;
$spaceS: 10px;
$spaceM: 15px;
$spaceL: 20px;
$spaceXL: 25px;
$spaceXXL: 30px;

$logoSize: 50px;
$cardSize: 200px;
$maxDesktopWidth: 1920px;

$anchorPadding: 20px 40px;