$backgroundColor: #ffffff;
$backgroundColorAleternative: #d7d7d7;

$letterColor: #454545;
$letterColorAlternative: #6b7280;
$placeholderColor: #717171;

$borderColor: #d3d3d3;

$redColor: #de3151;
$goldColor: #efb810;
$silverColor: #bebebe;
$bronzeColor: #ce8946;

$spaceXS: 5px;
$spaceS: 10px;
$spaceM: 15px;
$spaceL: 20px;
$spaceXL: 25px;
$spaceXXL: 30px;

$maxDesktopWidth: 1920px;