@use "../../_theme.scss";

.cardStyle {
    height: theme.$cardSize;
    max-width: theme.$cardSize * 1.5;
    min-width: theme.$cardSize * 0.5;
    width: 100%;
}

.logoStyle {
    height: theme.$logoSize;
    width: theme.$logoSize;
}